In [1]:
from sklearn import datasets
import pandas as pd

In [2]:
iris = datasets.load_iris()

In [3]:
df = pd.DataFrame(iris.data)
df.columns = ['sl', 'sw', 'pl', 'pw']
df.head()

    sl   sw   pl   pw
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [4]:
#Function to find label for a value
#if MIN_Value <=val < (m + Mean_Value) / 2 then it is assigned label a
#if (m + Mean_Value) <=val < Mean_Value then it is assigned label b
#if (Mean_Value) <=val < (Mean_Value + MAX_Value)/2 then it is assigned label c
#if (Mean_Value + MAX_Value)/2 <=val <= MAX_Value  then it is assigned label d

def label(val, *boundaries):
    if (val < boundaries[0]):
        return 'a'
    elif (val < boundaries[1]):
        return 'b'
    elif (val < boundaries[2]):
        return 'c'
    else:
        return 'd'

#Function to convert a continuous data into labelled data
#There are 4 lables  - a, b, c, d
def toLabel(df, old_feature_name):
    second = df[old_feature_name].mean()
    minimum = df[old_feature_name].min()
    first = (minimum + second)/2
    maximum = df[old_feature_name].max()
    third = (maximum + second)/2
    return df[old_feature_name].apply(label, args= (first, second, third))

In [5]:
#Convert all columns to labelled data
df['sl_labeled'] = toLabel(df, 'sl')
df['sw_labeled'] = toLabel(df, 'sw')
df['pl_labeled'] = toLabel(df, 'pl')
df['pw_labeled'] = toLabel(df, 'pw')
df.head()

    sl   sw   pl   pw sl_labeled sw_labeled pl_labeled pw_labeled
0  5.1  3.5  1.4  0.2          b          c          a          a
1  4.9  3.0  1.4  0.2          a          b          a          a
2  4.7  3.2  1.3  0.2          a          c          a          a
3  4.6  3.1  1.5  0.2          a          c          a          a
4  5.0  3.6  1.4  0.2          a          c          a          a

In [6]:
#dropping the continuous values.
df.drop(['sl','sw','pl','pw'], axis = 1,inplace = True)
df.head()

  sl_labeled sw_labeled pl_labeled pw_labeled
0          b          c          a          a
1          a          b          a          a
2          a          c          a          a
3          a          c          a          a
4          a          c          a          a

In [7]:
set(df['sl_labeled'])

{'a', 'b', 'c', 'd'}

In [8]:
def pure_node(y):
    li = []
    for i in y[0]:
        li.append(i)

    if len(set(li)) == 1:
        return True
    else:
        return False
    
    
def unused_features_length(unused_features):
    if len(unused_features) == 0:
        return True
    else:
        return False

In [9]:
def build_tree(df, y, unused_features):
    #base case
    # 1. unused is empty
    
    if len(unused_features) == 0:
        return 
    
    # 2. y contains only one distinct value
    if pure_node(y):
        return
    
    
    best_feature = ""
    for f in unused_features:
        possible_values = set(df[f])
        # loop over possible values : val
        # find subset of df & y with f == val
        # find number of mistakes in this subset 
        # if we predict the most common y as the output
        # find sum of all these mistakes
        # update best feature so that that particular feature
        # makes least number of mistakes
        
    # here you should know the best feature
    # print it out
    print("Best Feature ", best_feature)
    
    # remove best feature from unused features
    # loop over possible values of best feature
    # call build tree recursively

In [29]:
y = pd.DataFrame(iris.target)
list_of_features = set(df.columns)
build_tree(df, y, list_of_features)

Best Feature