df = pd.read_csv("data.csv")

train_df, test_df = train_test_split(df, test_size_proportion = 0.2)
tree = decision_tree_algorithm(train_df)
accuracy = calculate_accuracy(test_df, tree)

# Import statements

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import random


#takes care that out plots are shown in this notebook only
%matplotlib inline 

#takes care that the tree that we create is easy to read and understand
from pprint import pprint

# Load and Prepare Data

##### format of the data
1. last column of the data frame must contain the label and it must also be called "label"
2.  there should be no missing values in the dataframe

In [17]:
df = pd.read_csv("iris.csv", header = None)
df.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']

In [18]:
df.head()

    sl   sw   pl   pw  flower_type
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [20]:
df = df.rename(columns = {"flower_type" : "label"})

In [21]:
df.head()

    sl   sw   pl   pw        label
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

# train-test-split function

In [31]:
def train_test_split(df, test_size):
    #We'll check if the test_size is in proportion or a number

    if(isinstance(test_size, float)):
        test_size = test_size * len(df)
        test_size = round(test_size)

    #it creates a list of all the indexes as we will split based on random indexes. we created this list because
    #the sample function below can operate on lists only.
    indices = df.index.tolist()

    #we need to select random indices from it.
    #k is the number of elements that we want to sample from this population.
    test_indices = random.sample(population = indices, k = test_size)

    test_df = df.loc[test_indices]

    train_df = df.drop(test_indices)
    
    
    return train_df, test_df

In [39]:
train_df, test_df = train_test_split(df, test_size = 20)

In [38]:
test_df.head()

      sl   sw   pl   pw            label
8    4.4  2.9  1.4  0.2      Iris-setosa
128  6.4  2.8  5.6  2.1   Iris-virginica
73   6.1  2.8  4.7  1.2  Iris-versicolor
97   6.2  2.9  4.3  1.3  Iris-versicolor
89   5.5  2.5  4.0  1.3  Iris-versicolor